.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-left: 6px;
  padding-right: 6px;
}

.workshop-item {
  padding: 14px 14px;
  overflow: hidden;
}

.workshop-item .workshop-left {
  float: left;
  width: 40%;
  padding-right: 10px;
}

.workshop-item .workshop-right {
  float: left;
  width: 60%;
}

.workshop-item .workshop-post {
  height: 204px;
  margin-bottom: 12px;
}

.workshop-item .workshop-post img {
  width: 100%;
  height: 100%;
}

.workshop-item .workshop-title {
  text-align: center;
  color: #00ffea;
  margin-bottom: 12px;
  height: 45px;
  line-height: 45px;
  background-image: url(../images/bg-title-middle.png);
  background-repeat: repeat-x;
  background-size: 1px 100%;
  margin: 0 40px;
  position: relative;
  margin-bottom: 10px;

}

.workshop-item .workshop-title span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.workshop-item .workshop-title:before,
.workshop-item .workshop-title:after {
  content: '';
  display: block;
  position: absolute;
  width: 40px;
  height: 45px;
  top: 0;

  background-repeat: no-repeat;
  background-size: auto 45px;
}

.workshop-item .workshop-title:before {
  background-image: url(../images/bg-title-left.png);
  left: -37px;
}

.workshop-item .workshop-title:after {
  background-image: url(../images/bg-title-right.png);
  right: -40px;
}

.workshop-status {
  margin-bottom: 12px;
}

.workshop-status,
.workshop-times {
  width: 100%;
  table-layout: fixed;
  background-color: #100f37;
}

.workshop-times {
  margin: 0;
}

.workshop-status td,
.workshop-times td {
  border-color: #085294;
  padding: 9px 6px;
}

.workshop-other-item {
  padding-left: 2px;
}

.workshop-other-item span {
  height: 108px;
  background-color: #5ab5da;
}

.workshop-status-item {
  font-size: 12px;
  width: 28%;
  padding: 0 2px 6px;
  vertical-align: middle;
}

.workshop-status-item.twoPart {
  width: 44%;
}

.workshop-times-item.onePart {
  width: 30%;
}

.workshop-times-item.threePart {
  width: 70%;
}

.workshop-times-item {
  vertical-align: middle;
}

.workshop-status-item span,
.workshop-times-item span {
  display: block;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3;
  white-space: nowrap;
}

.workshop-rate {
  height: 155px;
}

.chart-instance {
  height: 100%;
}

.carousel-item .row {
  margin-right: 0;
  margin-left: 0;
}

.card {
  position: relative;
  border: solid 2px rgba(6, 104, 186, 0.5);
  background-color: transparent;
  background-color: rgba(18, 19, 49, 0.72);
}

.card .corner {
  width: 14px;
  height: 14px;
  position: absolute;
  background-image: url(../images/bg-corner.png);
  background-size: 100% 100%;
}

.card .corner.top-left {
  top: -2px;
  left: -2px;
}

.card .corner.top-right {
  top: -2px;
  right: -2px;
  transform: rotate(90deg);
}

.card .corner.bottom-left {
  bottom: -2px;
  left: -2px;
  transform: rotate(270deg);
}

.card .corner.bottom-right {
  bottom: -2px;
  right: -2px;
  transform: rotate(180deg);
}

.pcoded[theme-layout="vertical"][vertical-placement="left"][vertical-nav-type="expanded"][vertical-effect="shrink"] .navbar-text {
  margin-left: 240px;
}

.pcoded[theme-layout="vertical"][vertical-placement="left"][vertical-nav-type="offcanvas"][vertical-effect="shrink"] .navbar-text {
  margin-left: 0;
}

.pcoded-logo {
  padding: 20px 70px 40px;
}

.pcoded-logo img {
  width: 100%;
}

body {
  background-image: url(../images/bg.jpg);
  background-size: 100% 100%;
}

.pcoded-inner-title {
  height: 92px;
  position: relative;
  text-align: center;
  font-size: 24px;
  padding-top: 18px;
  color: #00ffea;
}

.pcoded-inner-title span {
  margin-left: 5px;
}

.pcoded-inner-title:before,
.pcoded-inner-title:after {
  content: '';
  display: block;
  width: 35%;
  height: 100%;
  position: absolute;
  top: 0;
  background-image: url(../images/bg-header-left.png);
  background-size: 100% 100%;
}

.pcoded-inner-title:before {
  left: 0;
}

.pcoded-inner-title:after {
  right: 0;
  transform: rotateY(180deg);
}

.c1 {
  color: #58ec90;
}

.c2 {
  color: #b3ff50;
}

.c3 {
  color: #f6b84b;
}

.navbar-link {
  font-size: 16px;
  color: #fff;
  position: absolute;
  bottom: 40px;
  left: 30px;
  z-index: 1000;
}
