.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  padding-left: 6px;
  padding-right: 6px;
}

.workshop-item {
  padding: 6px;
  overflow: hidden;
}

.workshop-item .workshop-left {
  float: left;
  width: 40%;
  padding-right: 4px;
}

.workshop-item .workshop-right {
  float: left;
  width: 60%;
}

.workshop-item .workshop-post {
  height: 204px;
  margin-bottom: 6px;
}

.workshop-item .workshop-post img {
  width: 100%;
  height: 100%;
}

.workshop-item .workshop-title {
  text-align: center;
  background-image: linear-gradient(135deg, #ABDCFF 10%, #0396FF 100%);
  padding: 4px;
  color: #fff;
  margin-bottom: 12px;
  border-radius: 2px;
}

.workshop-status {
  margin-bottom: 12px;
}

.workshop-status,
.workshop-times {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.workshop-status-rows,
.workshop-times-rows {
  display: table-row;
}

.workshop-status-item {
  font-size: 12px;
  display: table-cell;
  width: 28%;
  padding: 0 2px 6px;
  vertical-align: middle;
}

.workshop-status-item.twoPart {
  width: 44%;
}

.workshop-times-item.onePart {
  width: 30%;
}

.workshop-times-item.threePart {
  width: 70%;
}

.workshop-times-item {
  display: table-cell;
  padding: 0 2px 6px;
  vertical-align: middle;
}

.workshop-status-item span,
.workshop-times-item span {
  display: block;
  text-align: center;
  padding: 7px 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.3;
  color: #fff;
  border-radius: 2px;
}

.workshop-status-item span.c1,
.workshop-times-item span.c1 {
  white-space: nowrap;
  background-image: linear-gradient(135deg, #2AFADF 10%, #4C83FF 100%);
}

.workshop-status-item span.c2,
.workshop-times-item span.c2 {
  white-space: nowrap;
  background-image: linear-gradient(135deg, #FFD3A5 10%, #FD6585 100%);
}

.workshop-status-item span.c3,
.workshop-times-item span.c3 {
  white-space: nowrap;
  background-image: linear-gradient(135deg, #EE9AE5 10%, #5961F9 100%);
}

.workshop-rate {
  height: 155px;
  padding-top: 10px;
}

.chart-instance {
  min-width: 155px;
  height: 100%;
}

.user-profile span,
.user-profile i {
  color: #fff;
}

.carousel-item .row {
  margin-right: 0;
  margin-left: 0;
}
